/*
 COLORS : 
Light-Green: #7ed56f;
Medium-Green: #55c57a;
Dark-Green: #28b485; 
*/

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 4000;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box;
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right, #7ed56f71, #28b48593),
    url("../imgs/hero.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.logo {
  height: 3.5rem;
}

.text-box {
  text-align: center;

  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.heading-primary {
  color: #fff;
  text-transform: uppercase;

  backface-visibility: hidden;
}
.heading-primary-main {
  display: block;
  letter-spacing: 3rem;
  font-weight: 400;
  font-size: 3.5rem;
  animation-name: moveInLeft;
  animation-duration: 1.5s;
  animation-timing-function: ease-in; /* animation-iteration-count: 3;
  animation-delay: 2s; */
}
.heading-primary-sub {
  display: block;
  font-size: 1.6rem;
  letter-spacing: 1.3rem;
  font-weight: 200;
  animation: moveInRight 1.5s ease-in;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    /* transform: translate(0); */
  }
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 1.5rem 4rem;
  font-size: 2rem;
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.btn-white {
  margin-top: 6rem;
  background-color: #fff;
  color: #777;
  border-radius: 10rem;
  transition: all 0.2s;
}
